<div class="container">
        <div class="jumbotron">
          <div class="row">
            <div class="col-6">
              <img src="{{productFiltrado.imageUrl}}" alt="" style="width: 100%;" id="imagen">
            </div>
            <div class="col-6">
                <div class="row mb-3">
              <div class="col-12 text-right">
                
                  <button type="button" name="" id="" class="btn btn-light btn-lg" routerLink="/products">Regresar</button>
                </div>
              </div>
              <div class="row justify-content-md-center">
      
              </div>
              <div class="row justify-content-md-center">
                <div class="alert alert-success" role="alert">
                  <h4 class="alert-heading">{{productFiltrado.productName}}</h4>
                  
                  <p class="mb-0">{{productFiltrado.productCode}} </p>
                  <p class="mb-0">{{productFiltrado.price}} </p>
                  <hr>
                  <p>{{productFiltrado.descriptionS}}</p>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

