<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img alt="Fire TV Basic Edition $999" src="https://images-na.ssl-images-amazon.com/images/G/33/kindle/journeys/YzkwNzM2Nzgt-Y2U4YjJmZGUt-w1500._CB437101636_.jpg" height="600px" width="1500px" data-a-hires="https://images-na.ssl-images-amazon.com/images/G/33/kindle/journeys/YzkwNzM2Nzgt-Y2U4YjJmZGUt-w3000._CB437101636_.jpg">
      </div>

      <div class="carousel-item">

        <img alt="Envíos GRATIS, Prime Video, Prime Music y más" src="https://images-na.ssl-images-amazon.com/images/G/33/img18/Prime/GW_Slot_Refresh/Resize/GW_DesktopHero_primerefreshVb1_1500x600._CB455671880_.jpg" height="600px" width="1500px" data-a-hires="https://images-na.ssl-images-amazon.com/images/G/33/img18/Prime/GW_Slot_Refresh/Resize/GW_DesktopHero_primerefreshVb1_3000x1200._CB455671882_.jpg">
    </div>


      <div class="carousel-item">
        <img alt="Ofertas en libros de texto" src="https://images-na.ssl-images-amazon.com/images/G/33/img19/AmazonBasics/GWcampaigns2019/forniture_1500x600._CB437365363_.jpg" height="600px" width="1500px" data-a-hires="https://images-na.ssl-images-amazon.com/images/G/33/img19/AmazonBasics/GWcampaigns2019/forniture_3000x1200._CB437365363_.jpg">
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>